body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif, monospace;
    background-color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(51, 51, 51, 0.8); /* Sets background color with transparency */
    color: #ffffff;
    border-radius: 10px;
    margin: 10px auto;
    width: 95%;
    max-width: 1440px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
}


.branding {
    display: flex;
    align-items: center; /* Align items vertically centered */
}

.branding img {
    margin-right: 10px; /* Adds space between the logo and h1 */
    width: 60px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

.branding h1 {
    margin: 0;
    color: #ffffff;
    font-weight: 680;
    position: relative;
    padding-left: 20px; /* Add padding to the left for the line */
}

h4 {
    font-size: 50px;
    margin: 0;
    color: #020d16;
    font-weight: 400;
    position: relative;
    padding-left: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.branding h1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px; /* Adjust the width of the line */
    height: 90%; /* Make sure the line height covers the entire h1 */
    background-color: #ffffff; /* White line color */
    transform: translateY(10px); /* Move the line down by 10px */
}

.branding p {
    margin: 0;
    font-size: 14px; /* Adjust the font size if needed */
    color: #ffffff;
    padding-left: 20px; /* Aligns with h1 padding */
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    border-radius: 10px;
}

.navbar li {
    position: relative; /* Necesario para el posicionamiento absoluto del dropdown */
    padding: 10px 10px; /* Aumentar el padding superior e inferior */
    border-radius: 10px;
    font-weight: 500;
    
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    border-radius: 10px;
}

.navbar a:hover {
    color: red;
    
}

.navbar li:hover {
   /* background-color: rgba(0, 0, 0, 0.2); */
    cursor: pointer;
    color: red;
    
}

.navbar li a[href="contact.html"] {
    background-color: red;
    padding: 10px 20px; 
    margin: -10px -20px;
    font-weight: 600;
}

.navbar li a[href="contact.html"]:hover {
    color: #020d16; 
}

address {
    font-family: Raleway;
    font-style: normal;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

img[alt="Agencia Autosol"] {
    display: block;
    margin: 20px auto;  /* Centers the image horizontally with margin */
    width: 100%;  /* Adjust the width to match the header's width */
    max-width: 1440px;  /* Ensure it doesn't exceed the max-width of the header */
    height: auto;
    border-radius: 10px;  /* Adds rounded corners to the image */
}
img[alt="header-civic-hybrid"] {
    display: block;
    margin: 20px auto;  /* Centers the image horizontally with margin */
    width: 100%;  /* Adjust the width to match the header's width */
    max-width: 1440px;  /* Ensure it doesn't exceed the max-width of the header */
    height: auto;
    border-radius: 10px;  /* Adds rounded corners to the image */
}
img[alt="header-cr-v-hybrid"] {
    display: block;
    margin: 20px auto;  /* Centers the image horizontally with margin */
    width: 100%;  /* Adjust the width to match the header's width */
    max-width: 1440px;  /* Ensure it doesn't exceed the max-width of the header */
    height: auto;
    border-radius: 10px;  /* Adds rounded corners to the image */
}
img[alt="header-cr-v"] {
    display: block;
    margin: 20px auto;  /* Centers the image horizontally with margin */
    width: 100%;  /* Adjust the width to match the header's width */
    max-width: 1440px;  /* Ensure it doesn't exceed the max-width of the header */
    height: auto;
    border-radius: 10px;  /* Adds rounded corners to the image */
}
img[alt="header-hr-v"] {
    display: block;
    margin: 20px auto;  /* Centers the image horizontally with margin */
    width: 100%;  /* Adjust the width to match the header's width */
    max-width: 1440px;  /* Ensure it doesn't exceed the max-width of the header */
    height: auto;
    border-radius: 10px;  /* Adds rounded corners to the image */
}
img[alt="header-zr-v"] {
    display: block;
    margin: 20px auto;  /* Centers the image horizontally with margin */
    width: 100%;  /* Adjust the width to match the header's width */
    max-width: 1440px;  /* Ensure it doesn't exceed the max-width of the header */
    height: auto;
    border-radius: 10px;  /* Adds rounded corners to the image */
}
img[alt="header-postventa"] {
    display: block;
    margin: 20px auto;  /* Centers the image horizontally with margin */
    width: 100%;  /* Adjust the width to match the header's width */
    max-width: 1440px;  /* Ensure it doesn't exceed the max-width of the header */
    height: auto;
    border-radius: 10px;  /* Adds rounded corners to the image */
}

img[alt="new-hr-v-1"]{
    display: block;
    margin: 20px auto;  /* Centers the image horizontally with margin */
    width: 100%;  /* Adjust the width to match the header's width */
    max-width: 1440px;  /* Ensure it doesn't exceed the max-width of the header */
    height: auto;
    border-radius: 10px;  /* Adds rounded corners to the image */
}

img[alt="new-cr-v-1"]{
    display: block;
    margin: 20px auto;  /* Centers the image horizontally with margin */
    width: 100%;  /* Adjust the width to match the header's width */
    max-width: 1440px;  /* Ensure it doesn't exceed the max-width of the header */
    height: auto;
    border-radius: 10px;  /* Adds rounded corners to the image */
}
img[alt="zr-v-1"]{
    display: block;
    margin: 20px auto;  /* Centers the image horizontally with margin */
    width: 100%;  /* Adjust the width to match the header's width */
    max-width: 1440px;  /* Ensure it doesn't exceed the max-width of the header */
    height: auto;
    border-radius: 10px;  /* Adds rounded corners to the image */
}

img[alt="civic-hybrid-1"]{
    display: block;
    margin: 20px auto;  /* Centers the image horizontally with margin */
    width: 100%;  /* Adjust the width to match the header's width */
    max-width: 1440px;  /* Ensure it doesn't exceed the max-width of the header */
    height: auto;
    border-radius: 10px;  /* Adds rounded corners to the image */
}

img[alt="cr-v-hybrid-1"]{
    display: block;
    margin: 20px auto;  /* Centers the image horizontally with margin */
    width: 100%;  /* Adjust the width to match the header's width */
    max-width: 1440px;  /* Ensure it doesn't exceed the max-width of the header */
    height: auto;
    border-radius: 10px;  /* Adds rounded corners to the image */
}


img[alt="Honda Logo"] {
    margin-right: 20px; /* Adds space between the logo and h1 */
    display: inline; /* Ensures it is aligned with the text */
}

/* Otros estilos permanecen igual */

.navbar .dropdown {
    display: none; /* Mantenerlo oculto por defecto */
    position: absolute;
    left: 0;
    top: calc(100% + 1px); /* Posicionar debajo del li */
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 10px;
    padding: 15px 0;  /* Mayor padding en la parte superior e inferior para más espacio */
    z-index: 999; /* Asegurarse de que esté por encima de otros elementos */
    margin-left: 0; /* Ajustar según sea necesario */
    width: 250px; /* Establecer un ancho mayor para evitar que las palabras se superpongan */
    min-width: 250px;  /* Asegurarse de que no se haga más pequeño */
    list-style-type: none;
    text-align: left; /* Justificar a la izquierda */
}

.navbar li:hover .dropdown {
    display: block; /* Mostrar el dropdown */
}

.dropdown li {
    padding: 12px 20px;  /* Mayor padding para las opciones */
    display: flex;
    flex-direction: column; /* Alinear el contenido en columna */
    align-items: flex-start; /* Alinear a la izquierda */
}

.dropdown img {
    margin-top: 5px; /* Alinear la imagen debajo del texto */
    max-width: 100px;  /* Ajusta según el tamaño de tus miniaturas */
    height: auto;
    display: block;
}

.dropdown a {
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    width: 100%; /* Asegurar que el enlace ocupe todo el ancho del contenedor */
    display: inline-block;
}

.dropdown a:hover {
    color: red;
}


/* Ajustes para pantallas de 1366px y menores */
@media (max-width: 1366px) {
    body {
        transform: scale(0.80); /* Reescalar todo al 67% */
        transform-origin: center;
    }
}

