body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    background-color: #f0f0f0;  /* Light gray background for the body */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(51, 51, 51, 0.7); /* Transparent dark gray background */
    color: white;
    border-radius: 10px;
    margin: 10px auto;
    width: 95%;
    max-width: 1440px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;  /* Ensures the header stays above other elements */
}

.branding {
    display: flex;
    flex-direction: column;
}

.branding h1 {
    margin: 0;
    color: red;
    font-weight: 700;
}

.branding p {
    margin: 0;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    border-radius: 10px;
}

.navbar li {
    padding: 14px 20px;
    border-radius: 10px;
    font-weight: 500;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 10px;
}

.navbar a:hover {
    color: red;
}

.navbar li a[href="contact.html"] {
    background-color: red;
    padding: 10px 20px; /* Extra padding to increase the background size */
    margin: -10px -10px;  /* Adjust margin to maintain alignment */
    font-weight: 600;
}

.navbar li a[href="contact.html"]:hover {
    color: black; /* Change text color to white on hover */
}

address {
    font-family: Raleway;
    font-style: normal;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}
